
<div class="my-container">
    
    <div class="my-flex my-space-between">
        <h2>Produits</h2>
        <button class="my-btn my-btn-primary" [routerLink]="['/produits/ajout']">Ajouter</button>
    </div>

    <table class="my-table">
        <thead>
          <tr>
            <th>#</th>
            <th>Nom</th>
            <th>Description</th>
            <th>Prix</th>
            <th>Catégorie</th>
            <th class="my-text-end">Action</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let produit of produits">
            <th>{{produit.id}}</th>
            <td>{{produit.nom}}</td>
            <td>{{produit.description}}</td>
            <td>{{produit.prix}} FCFA</td>
            <td>{{produit.categorie?.nom}} </td>
            <td class="my-text-end">
                <div class="my-flex my-gap-4">
                    <button type="button"
                            class="my-btn my-btn-outline my-btn-sm"
                            [routerLink]="['/produits/edit', produit.id]">
                    Modifier
                    </button>

                    <button type="button" (click)="delete(produit.id!)" class="my-btn my-btn-outline-danger my-btn-sm">Supprimer</button>
                </div>
            </td>
          </tr>
        </tbody>
    </table>



</div>
